<div class="top-area">
  <chat-room-name [roomName]="roomName"></chat-room-name>
  <chat-user [name]="roomUserName"></chat-user>
</div>

<div class="action-bar">
  <button (click)="leaveRoomClicked.emit()" class="btn-logout btn btn-primary btn-sm">
    <span>Leave Room</span>
  </button>
</div>

<div class="users-container">
  <div class="user-count-title">{{users?.length - 1}} other users in room</div>
  <div class="user-item" *ngFor="let user of users">
    <chat-user *ngIf="user !== roomUserName" [name]="roomUserName"></chat-user>
  </div>
</div>

